<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="customerService" class="com.day02Jdbc.service.Impl.CustomerServiceImpl">
        <!--给业务层注入dao-->
        <!--对象属性用ref指定需要注入的bean的id-->
        <property name="customerDao" ref="customerDao"></property>
    </bean>

    <bean id="customerDao" class="com.day02Jdbc.dao.Impl.CustomerDaoImpl">
        <!--给dao层注入jdbcTemplate-->
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <!--给jdbcTemplate层注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--配置数据源 用的是德鲁伊 -->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"></property>
        <property name="username" value="root"></property>
        <property name="password" value="sswqzx"></property>
    </bean>
</beans>