<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="cat" class="com.zhoujc.automatic_assembly.Cat"/>
    <bean id="dog" class="com.zhoujc.automatic_assembly.Dog"/>

    <bean id="name" class="com.zhoujc.automatic_assembly.People">

        <!--
    byName:会自动在容器上下文查找，和自己对象set方法后面的值对应的bean的id
     <bean name="people" class="com.zhoujc.automatic_assembly.People" autowire="byName">
        <property name="name" value="zhoujc"/>

    byType:也会自动在容器上下文查找，但是会和自己对象属性类型相同bean
     <bean name="people" class="com.zhoujc.automatic_assembly.People" autowire="byType">
        <property name="name" value="zhoujc"/>
-->
        <property name="name" value="周傻刚"/>
        <property name="cat" value="cat"/>
        <property name="dog" value="dog"/>
    </bean>
</beans>